page-tablereservation {

    .spin{
        text-align: center;        
    }

    ion-spinner * {
        width: 58px;
        height: 58px;
        stroke: #444;
        fill: #222;
      }

      ion-card {
        position: relative;
        text-align: center;
      }
    
      .cardtitle {
        position: absolute;
        top: 0%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .cardsubtitle {
        font-size: 1.0em;
        position: absolute;
        top: 10%;
        width: 100%;
        color: #fff;
      }

    

}
