page-home {
    // .segment{
    //     margin-top: 50px;
    // }
    button {
        ion-badge {
            position: absolute;
            top: -0.2rem;
            right: -0.2rem;
            opacity: 0.9;
            width:50%;
    
            & ~ ion-icon {
                margin-right: 1.2rem;
            }
        }
    }
    ion-title{
        text-align: center
    }
}
