page-restaurantdetails {
    #landingImages{
        height: 200px;
    };

    h3{
        text-align: center;
    };

    #imgslide.swiper-slide {
        left: 25%;
    }
    
    // .slide-zoom {
    //     background: #e6e6e6;
    // }
 
    .thumb-img {
        padding: 10px;
    }

    // segment-button{
    //     font-size: 5px 
    // }

    .center{
        text-align: center;
    }
    
    
}
